<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/pid.css">
    <script src="static/libs.min.js"></script>
    <script src="static/pid.min.js"></script>
    <title>Plant identification</title>
</head>

<body>

<div ng-app="pid" ng-controller="pid" class="content row">

    <div class="medium-4 columns">
        <div class="loader" ng-cloak ng-show="loading"></div>
        <p ng-show="error">{{ error }}</p>
        <div ng-show="images && !error">
            <ul>
                <li ng-repeat="suggestion in suggestions | orderBy:'-probability'">
                    <b><a href="https://www.google.com/search?q={{ suggestion.class }}">{{ suggestion.class }}</a></b> - {{ suggestion.probability * 100 | number:1 }}%
                </li>
            </ul>
            <div ng-repeat="image in images">
                <hr>
                <ul>
                    <li ng-repeat="result in image.results | orderBy:'-probability'">
                        <b><a href="https://www.google.com/search?q={{ result.class }}">{{ result.class }}</a></b> - {{ result.probability * 100 | number:1 }}%
                    </li>
                </ul>
                <b>Raw predictions</b>
                <ul>
                    <li ng-repeat="result in image.raw_predictions| orderBy:'-probability'">
                        <b><a href="https://www.google.com/search?q={{ result.class }}">{{ result.class }}</a></b> - {{ result.probability * 100 | number:1 }}%
                    </li>
                </ul>
                <b>Certainty</b>
                <ul>
                    <li>The top one: <b>{{ image.certainties["1st"] * 100 | number:1 }}%</b></li>
                    <li>In top 3: <b>{{ image.certainties.top3 * 100 | number:1 }}%</b></li>
                    <li>In top 5: <b>{{ image.certainties.top5 * 100 | number:1 }}%</b></li>
                    <li>Listed: <b>{{ image.certainties.listed * 100 | number:1 }}%</b></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="medium-8 columns">
        <img ng-repeat="file in files" ngf-thumbnail="file"  alt="">
        <label>Latitude
            <input type="number" ng-model="lat">
        </label>
        <label>Longitude
            <input type="number" ng-model="lng">
        </label>
        <label>Week number
            <input type="number" ng-model="week">
        </label>
        <label>Strategie
            <select ng-model='strategy' ng-options="s.name for s in strategies"></select>
        </label>
        <br><br>
        <div class="button" ngf-accept="'image/jpeg'" get-file="showImage" ngf-select ng-model="files" ngf-multiple="true">Select Jpeg</div>
        <ul class="accordion " data-accordion>
            <li class="accordion-navigation">
                <a href="#panel1a">Known plants</a>
                <div id="panel1a" class="content">
                    <ul>
                        <li ng-repeat="class in classes| orderBy">
                            {{ class }}
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).foundation('accordion', 'reflow');
</script>

</body>
</html>