<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/pid.css">
    <script src="static/libs.min.js"></script>
    <script src="static/pid.min.js"></script>
    <title>Plant identification</title>
</head>

<body>

<div ng-app="pid" ng-controller="pid" class="content">
    <div class="button" ngf-accept="'image/jpeg'" get-file="showImage" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
    <div>
        <ul>
            <li ng-repeat="result in results | orderBy:'-probability'">
                <b>{{ result.class }}</b> - {{ result.probability * 100 | number:1 }}%
            </li>
        </ul>
    </div>
</div>

</body>
</html>