<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/pid.css">
    <script src="static/libs.min.js"></script>
    <script src="static/pid.min.js"></script>
    <title>Plant identification</title>
</head>

<body>

<div ng-app="pid" ng-controller="pid" class="content row">
    <div class="medium-8 columns">
        <img ngf-thumbnail="file" alt="">
        <label>Latitude
            <input type="number" ng-model="lat">
        </label>
        <label>Longitude
            <input type="number" ng-model="lng">
        </label>
        <label>Week number
            <input type="number" ng-model="week">
        </label>
        <br><br>
        <div class="button" ngf-accept="'image/jpeg'" get-file="showImage" ngf-select ng-model="file" ngf-multiple="false">Select Jpeg</div>
        <ul>
            <li ng-repeat="class in classes| orderBy">
                {{ class }}
            </li>
        </ul>
    </div>

    <div class="medium-4 columns">
        <div class="loader" ng-cloak ng-show="loading"></div>
        <p ng-show="error">{{ error }}</p>
        <div ng-show="results && !error">
            <ul>
                <li ng-repeat="result in results | orderBy:'-probability'">
                    <b>{{ result.class }}</b> - {{ result.probability * 100 | number:1 }}%
                </li>
            </ul>
            <b>Certainty</b>
            <ul>
                <li>The top one: <b>{{ certainties["1st"] * 100 | number:1 }}%</b></li>
                <li>In top 3: <b>{{ certainties.top3 * 100 | number:1 }}%</b></li>
                <li>In top 5: <b>{{ certainties.top5 * 100 | number:1 }}%</b></li>
                <li>Listed: <b>{{ certainties.listed * 100 | number:1 }}%</b></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>